annotated-types==0.7.0
black==24.4.2
blinker==1.8.2
click==8.1.7
dnspython==2.6.1
email-validator==2.2.0
exceptiongroup==1.2.1
flake8==7.1.0
flask==3.0.3
Flask-Login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
importlib-metadata==8.0.0
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
jinja2==3.1.4
login==0.0.6
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
psycopg2-binary==2.9.9
pycodestyle==2.12.0
pydantic==2.8.2
pydantic-core==2.20.1
pyflakes==3.2.0
PyMySQL==1.1.1
pytest==8.2.2
python-dotenv==1.0.1
SQLAlchemy==2.0.31
tomli==2.0.1
typing-extensions==4.12.2
werkzeug==3.0.3
wtf==0.1
wtforms==3.1.2
zipp==3.19.2
